<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="https://fonts.googleapis.com/css?family=Archivo&display=swap" rel="stylesheet">
</head>
<body>
    <style>
        body {
            font-family: 'Archivo', sans-serif;
        }
    </style>
    <h1>Welcome to Register Program.</h1>
    <h3>Application must be filled by your heart!</h3>
    <p>All field must be filled.</p>
    <form action="/jupiter/register", method="post">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <input type="text" name="first" placeholder="First Name" />
        <input type="text" name="last" placeholder="Last Name" />
        <input type="email" name="email" placeholder="E-mail Address" />
        <button>Register</button>
    </form>
    {% if new %}
        <h3>Successful! Here is your new account objectid. : {{ new }}</h3>
    {% endif %}
    {% if error %}
        <h3>Sorry. Try Again. It says Something is already occupied!</h3>
    {% endif %}
</body>
</html>